<!DOCTYPE html>
<html lang="en">
<!-- Pure CSS -->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!-- VueJS -->
<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Gallery Home</title>
</head>
<body>
    <div id="homePageApp">
        <h1>User Home Page</h1>
    </div>
</body>
</html>
<script type="text/javascript" src="{{url_for('static', filename='scripts/home.js')}}"></script>