<!DOCTYPE html>
<html lang="en">
<!-- Pure CSS -->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!-- VueJS -->
<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Gallery Home</title>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="homePageApp">
        <div v-if="isInGallery">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <div class="pure-control-group" style="clear:left;">
                    <br><button class="pure-button pure-button-primary" v-on:click="uploadNewImage()">Upload New</button>
                </div><br>
                <div class="pure-control-group" style="clear:left;"><hr>
                    <div v-for="(url, index) in thumbnailURLList" class="gallery pure-control-group">
                        <img v-on:click="switchToImageTransformView(index)" v-bind:src=url>
                        <div class="desc" v-on:click="switchToImageTransformView(index)">Image #${index+1}</div>
                    </div>
                </div><br>
                <div class="pure-control-group" style="clear:left;"><hr>
                    <br><button class="pure-button pure-button-primary" v-on:click="redirectToWelcome()">Logout</button><br>
                </div>
            </div>
            <div class="pure-u-1-3"></div>
        </div>
        <div v-else>
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <div class="pure-control-group" style="clear:left;">
                    <br><button class="pure-button pure-button-primary" v-on:click="switchToGalleryView()">Back to Gallery</button>
                </div><br>
                <div class="pure-control-group" style="clear:left;">
                    <div v-for="(url, index) in currentTransforms" class="pure-control-group">
                        <img v-bind:src=url>
                        <center><div class="desc">${currentTransformDesc[index]}</div></center><br>
                    </div>
                </div>
                <div class="pure-control-group" style="clear:left;">
                    <br><button class="pure-button pure-button-primary" v-on:click="switchToGalleryView()">Back to Gallery</button><br>
                </div>
            </div>
            <div class="pure-u-1-3"></div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="{{url_for('static', filename='scripts/home.js')}}"></script>