<!DOCTYPE html>
<!-- Pure CSS -->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!-- VueJS -->
<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
<head>
    <title>Welcome</title>
</head>
<html>
    <body>
        <div id="welcomePageApp">
            <div>
                <div class="pure-u-1-4"></div>
                <div class="pure-u-2-4">
                    <form id="welcomePageButtons" class="pure-form pure-form-aligned">
                        <fieldset>
                            <div class="pure-controls">
                                <input id="switchToRegisterButton" type="button" value="Register" class="pure-button pure-button-primary" disabled v-on:click="switchToRegisterTab()">
                                <input id="switchToLoginButton" type="button" value="Login" class="pure-button pure-button-primary" v-on:click="switchToLoginTab()">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="pure-u-1-4"></div>
            </div>
            <div v-if="isOnRegisterTab">
                <div class="pure-u-1-4"></div>
                <div class="pure-u-2-4">
                    <form id="createForm" class="pure-form pure-form-aligned">
                        <h3 class="pure-controls">User Register</h3>
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="registerUsername">Username</label>
                                <input id="registerUsername" type="text" placeholder="Username">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>
                            <div class="pure-control-group">
                                <label for="registerPassword">Password</label>
                                <input id="registerPassword" type="password" placeholder="Password">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>
                            <div class="pure-controls">
                                <input id="registerButton" type="button" value="Register" class="pure-button pure-button-primary" v-on:click="checkRegisterForm()">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="pure-u-1-4"></div>
            </div>
            <div v-else>
                <div class="pure-u-1-4"></div>
                <div class="pure-u-2-4">
                    <form id="loginForm" class="pure-form pure-form-aligned">
                        <h3 class="pure-controls">User Login</h3>
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="loginUsername">Username</label>
                                <input id="loginUsername" type="text" placeholder="Username">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>
                            <div class="pure-control-group">
                                <label for="loginPassword">Password</label>
                                <input id="loginPassword" type="password" placeholder="Password">
                                <span class="pure-form-message-inline">This is a required field.</span>
                            </div>
                            <div class="pure-controls">
                                <input id="loginButton" type="button" value="Login" class="pure-button pure-button-primary" v-on:click="checkLoginForm()">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="pure-u-1-4"></div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="{{url_for('static', filename='scripts/index.js')}}"></script>